app = "mindrian"
kill_signal = "SIGTERM"
primary_region = "iad"

[deploy]
release_command = "/app/bin/migrate"

[env]
PHX_HOST = "mindrian.fly.dev"
PORT = "8080"
ECTO_IPV6 = "true"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8080
min_machines_running = 0
processes = ["app"]

[http_service.concurrency]
hard_limit = 1000
soft_limit = 1000
type = "connections"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1024
