/* [project]/Desktop/internship/mindrian/frontend/node_modules/.pnpm/@mantine+core@8.3.9_@mantin_256766127a986e3f936241ee36aebb44/node_modules/@mantine/core/styles/Stepper.css [app-client] (css) */
.m_cbb4ea7e {
  --stepper-icon-size-xs: 34px;
  --stepper-icon-size-sm: 36px;
  --stepper-icon-size-md: 42px;
  --stepper-icon-size-lg: 48px;
  --stepper-icon-size-xl: 52px;
  --stepper-icon-size: var(--stepper-icon-size-md);
  --stepper-color: var(--mantine-primary-color-filled);
  --stepper-content-padding: var(--mantine-spacing-md);
  --stepper-spacing: var(--mantine-spacing-md);
  --stepper-radius: 1000px;
  --stepper-fz: var(--mantine-font-size-md);
  --stepper-outline-thickness: 2px;
}

[data-mantine-color-scheme="light"] .m_cbb4ea7e {
  --stepper-outline-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .m_cbb4ea7e {
  --stepper-outline-color: var(--mantine-color-dark-5);
}

.m_aaf89d0b {
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.m_aaf89d0b:where([data-wrap]) {
  gap: var(--mantine-spacing-md) 0;
  flex-wrap: wrap;
}

.m_aaf89d0b:where([data-orientation="vertical"]) {
  flex-direction: column;
}

.m_aaf89d0b:where([data-orientation="vertical"]):where([data-icon-position="left"]) {
  align-items: flex-start;
}

.m_aaf89d0b:where([data-orientation="vertical"]):where([data-icon-position="right"]) {
  align-items: flex-end;
}

.m_aaf89d0b:where([data-orientation="horizontal"]) {
  flex-direction: row;
}

.m_2a371ac9 {
  height: var(--stepper-outline-thickness);
  margin-inline: var(--mantine-spacing-md);
  background-color: var(--stepper-outline-color);
  flex: 1;
  transition: background-color .15s;
}

.m_2a371ac9:where([data-active]) {
  background-color: var(--stepper-color);
}

.m_78da155d {
  padding-top: var(--stepper-content-padding);
}

.m_cbb57068 {
  --step-color: var(--stepper-color);
  cursor: default;
  display: flex;
}

.m_cbb57068:where([data-allow-click]) {
  cursor: pointer;
}

.m_cbb57068:where([data-icon-position="left"]) {
  flex-direction: row;
}

.m_cbb57068:where([data-icon-position="right"]) {
  flex-direction: row-reverse;
}

.m_f56b1e2c {
  align-items: center;
}

.m_833edb7e {
  --separator-spacing: calc(var(--mantine-spacing-xs) / 2);
  min-height: calc(var(--stepper-icon-size)  + var(--mantine-spacing-xl)  + var(--separator-spacing));
  margin-top: var(--separator-spacing);
  justify-content: flex-start;
  overflow: hidden;
}

.m_833edb7e:where(:first-of-type) {
  margin-top: 0;
}

.m_833edb7e:where(:last-of-type) {
  min-height: auto;
}

.m_833edb7e:where(:last-of-type) .m_6496b3f3 {
  display: none;
}

.m_818e70b {
  position: relative;
}

.m_6496b3f3 {
  top: calc(var(--stepper-icon-size)  + var(--separator-spacing));
  border-inline-start: var(--stepper-outline-thickness) solid var(--stepper-outline-color);
  height: 100vh;
  position: absolute;
  inset-inline-start: calc(var(--stepper-icon-size) / 2);
}

.m_6496b3f3:where([data-active]) {
  border-color: var(--stepper-color);
}

.m_1959ad01 {
  height: var(--stepper-icon-size);
  width: var(--stepper-icon-size);
  min-height: var(--stepper-icon-size);
  min-width: var(--stepper-icon-size);
  border-radius: var(--stepper-radius);
  font-size: var(--stepper-fz);
  border: var(--stepper-outline-thickness) solid var(--stepper-outline-color);
  background-color: var(--stepper-outline-color);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color .15s, border-color .15s;
  display: flex;
  position: relative;
}

:where([data-mantine-color-scheme="light"]) .m_1959ad01 {
  color: var(--mantine-color-gray-7);
}

:where([data-mantine-color-scheme="dark"]) .m_1959ad01 {
  color: var(--mantine-color-dark-1);
}

.m_1959ad01:where([data-progress]) {
  border-color: var(--step-color);
}

.m_1959ad01:where([data-completed]) {
  color: var(--stepper-icon-color, var(--mantine-color-white));
  background-color: var(--step-color);
  border-color: var(--step-color);
}

.m_a79331dc {
  color: var(--stepper-icon-color, var(--mantine-color-white));
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

.m_1956aa2a {
  flex-direction: column;
  display: flex;
}

.m_1956aa2a:where([data-icon-position="left"]) {
  margin-inline-start: var(--mantine-spacing-sm);
}

.m_1956aa2a:where([data-icon-position="right"]) {
  text-align: right;
  margin-inline-end: var(--mantine-spacing-sm);
}

:where([dir="rtl"]) .m_1956aa2a:where([data-icon-position="right"]) {
  text-align: left;
}

.m_12051f6c {
  font-weight: 500;
  font-size: var(--stepper-fz);
  line-height: 1;
}

.m_164eea74 {
  margin-top: calc(var(--stepper-spacing) / 3);
  margin-bottom: calc(var(--stepper-spacing) / 3);
  font-size: calc(var(--stepper-fz)  - calc(.125rem * var(--mantine-scale)));
  color: var(--mantine-color-dimmed);
  line-height: 1;
}

/*# sourceMappingURL=65c2f_%40mantine_core_styles_Stepper_css_bad6b30c._.single.css.map*/