/* [project]/Desktop/internship/mindrian/frontend/node_modules/.pnpm/@mantine+core@8.3.9_@mantin_256766127a986e3f936241ee36aebb44/node_modules/@mantine/core/styles/Accordion.css [app-client] (css) */
.m_9bdbb667 {
  --accordion-radius: var(--mantine-radius-default);
}

.m_df78851f {
  overflow-wrap: break-word;
}

.m_4ba554d4 {
  padding: var(--mantine-spacing-md);
  padding-top: calc(var(--mantine-spacing-xs) / 2);
}

.m_8fa820a0 {
  margin: 0;
  padding: 0;
}

.m_4ba585b8 {
  width: 100%;
  padding-inline: var(--mantine-spacing-md);
  opacity: 1;
  cursor: pointer;
  color: var(--mantine-color-bright);
  background-color: #0000;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
}

.m_4ba585b8:where([data-chevron-position="left"]) {
  flex-direction: row;
  padding-inline-start: 0;
}

.m_4ba585b8:where(:disabled, [data-disabled]) {
  opacity: .4;
  cursor: not-allowed;
}

@media (hover: hover) {
  :where([data-mantine-color-scheme="light"]) .m_6939a5e9:where(:not(:disabled, [data-disabled])):hover, :where([data-mantine-color-scheme="light"]) .m_4271d21b:where(:not(:disabled, [data-disabled])):hover {
    background-color: var(--mantine-color-gray-0);
  }

  :where([data-mantine-color-scheme="dark"]) .m_6939a5e9:where(:not(:disabled, [data-disabled])):hover, :where([data-mantine-color-scheme="dark"]) .m_4271d21b:where(:not(:disabled, [data-disabled])):hover {
    background-color: var(--mantine-color-dark-6);
  }
}

@media (hover: none) {
  :where([data-mantine-color-scheme="light"]) .m_6939a5e9:where(:not(:disabled, [data-disabled])):active, :where([data-mantine-color-scheme="light"]) .m_4271d21b:where(:not(:disabled, [data-disabled])):active {
    background-color: var(--mantine-color-gray-0);
  }

  :where([data-mantine-color-scheme="dark"]) .m_6939a5e9:where(:not(:disabled, [data-disabled])):active, :where([data-mantine-color-scheme="dark"]) .m_4271d21b:where(:not(:disabled, [data-disabled])):active {
    background-color: var(--mantine-color-dark-6);
  }
}

.m_df3ffa0f {
  color: inherit;
  text-overflow: ellipsis;
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  flex: 1;
  font-weight: 400;
  overflow: hidden;
}

.m_3f35ae96 {
  transition: transform var(--accordion-transition-duration, .2s) ease;
  width: var(--accordion-chevron-size, calc(.9375rem * var(--mantine-scale)));
  min-width: var(--accordion-chevron-size, calc(.9375rem * var(--mantine-scale)));
  justify-content: flex-start;
  align-items: center;
  display: flex;
  transform: rotate(0);
}

.m_3f35ae96:where([data-rotate]) {
  transform: rotate(180deg);
}

.m_3f35ae96:where([data-position="left"]) {
  margin-inline-start: var(--mantine-spacing-md);
  margin-inline-end: var(--mantine-spacing-md);
}

.m_9bd771fe {
  justify-content: center;
  align-items: center;
  margin-inline-end: var(--mantine-spacing-sm);
  display: flex;
}

.m_9bd771fe:where([data-chevron-position="left"]) {
  margin-inline-start: var(--mantine-spacing-lg);
  margin-inline-end: 0;
}

:where([data-mantine-color-scheme="light"]) .m_9bd7b098 {
  --item-border-color: var(--mantine-color-gray-3);
  --item-filled-color: var(--mantine-color-gray-0);
}

:where([data-mantine-color-scheme="dark"]) .m_9bd7b098 {
  --item-border-color: var(--mantine-color-dark-4);
  --item-filled-color: var(--mantine-color-dark-6);
}

.m_fe19b709 {
  border-bottom: 1px solid var(--item-border-color);
}

.m_1f921b3b {
  border: 1px solid var(--item-border-color);
  transition: background-color .15s;
}

.m_1f921b3b:where([data-active]) {
  background-color: var(--item-filled-color);
}

.m_1f921b3b:first-of-type, .m_1f921b3b:first-of-type > [data-accordion-control] {
  border-start-start-radius: var(--accordion-radius);
  border-start-end-radius: var(--accordion-radius);
}

.m_1f921b3b:last-of-type, .m_1f921b3b:last-of-type > [data-accordion-control] {
  border-end-end-radius: var(--accordion-radius);
  border-end-start-radius: var(--accordion-radius);
}

.m_1f921b3b + .m_1f921b3b {
  border-top: 0;
}

.m_2cdf939a {
  border-radius: var(--accordion-radius);
}

.m_2cdf939a:where([data-active]) {
  background-color: var(--item-filled-color);
}

.m_9f59b069 {
  background-color: var(--item-filled-color);
  border-radius: var(--accordion-radius);
  border: 1px solid #0000;
  transition: background-color .15s;
}

.m_9f59b069[data-active] {
  border-color: var(--item-border-color);
}

:where([data-mantine-color-scheme="light"]) .m_9f59b069[data-active] {
  background-color: var(--mantine-color-white);
}

:where([data-mantine-color-scheme="dark"]) .m_9f59b069[data-active] {
  background-color: var(--mantine-color-dark-7);
}

.m_9f59b069 + .m_9f59b069 {
  margin-top: var(--mantine-spacing-md);
}

/*# sourceMappingURL=65c2f_%40mantine_core_styles_Accordion_css_bad6b30c._.single.css.map*/